.Jobs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.profile-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 30vh;
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
}

.profile-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 50px;
  height: 50px;
}

.profile-name {
  color: #6366f1;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
}

.profile-bio {
  color: #475569;
  font-family: 'Roboto';
  font-size: 12px;
}

.jobs-data-container {
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.jobs-datalist {
  padding: 10px;
  list-style-type: none;
}

.search-input-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #7e858e;
  border-radius: 5px;
  margin: 20px;
}

@media screen and (min-width: 768px) {
  .search-input-container {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .mobile-view-search {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .non-mobile-view-container {
    display: flex;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .non-mobile-view-filters {
    display: flex;
    flex-direction: column;
    width: 20vw;
  }
}

@media screen and (min-width: 768px) {
  .non-mobile-search-jobs-view {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
}

.search-input {
  color: #ffffff;
  font-family: 'Roboto';
  background-color: #000000;
  border: none;
  padding: 10px;
  width: 250px;
}

.search-button {
  width: 50px;
  height: 35px;
  background-color: #272727;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.no-jobs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-jobs-image {
  width: 300px;
  height: 300px;
}

.no-jobs {
  color: #ffffff;
  font-family: 'Roboto';
}

.desc {
  color: #f1f5f9;
  margin-bottom: 0px;
}

.employment-type-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
}

.emp-type-list {
  list-style-type: none;
  padding-left: 0px;
}

.horizontal-line {
  color: #6366f1;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .horizontal-line {
    margin-right: 40px;
  }
}

.label-name {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
  margin-left: 10px;
}

.check-box {
  margin-right: 5px;
}

.emp-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 10px;
}

.failure-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.retry-btn {
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

.failure-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-image {
  width: 200px;
  height: 200px;
}

.failure-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.failure-desc {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  text-align: center;
}
