.label-name {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
  margin-left: 10px;
}

.check-box {
  margin-right: 5px;
}

.emp-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 10px;
}
