.selected-Job-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specific-job-container {
  margin: 10px;
  width: 90%;
}

.job-item-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

@media screen and (min-width: 768px) {
  .job-item-details-container {
    width: 80vw;
  }
}

.selected-job-container {
  background-color: #202020;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
}

.logo-name-rating-container {
  display: flex;
}

.hyperlink {
  text-decoration: none;
}

.desc-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-list {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0px;
}

.skill-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  margin-left: 10px;
}

.skill-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.skill-item {
  display: flex;
  align-items: center;
  width: 120px;
}

.similar-list {
  list-style-type: none;
  padding-left: 0px;
  margin: 10px;
}

.similar-job-item {
  background-color: #202020;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .non-mobile-device {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
